<div class="madlib">

Congrats! You've completed two out of three sections of your child's enrollment. In the next section you will fill out information about emergency contacts.
</div>

<ul class="pager">
  <li><%= link_to "Previous", page_path('guardian/guardian06') %></li>
  <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
  <li><%= link_to "Next", page_path('contact/contact01'), :class => "pull-right" %></li>
</ul>