<div class="madlib">

<div>{{Guardian #2 name}} lives at {{street}}, {{zip}}. {{Student name}} lives with {{Guardian #1 | Guardian #2 | Both of us}}.</div>

<div>My {{cell|work|home}} phone number is {{Guardian #1 phone, opt-out for SMS}}. This phone number changes {{monthly | annually | rarely}}. My e-mail address is {{Guardian #1 email}}. Another phone number you can reach me at is {{Guardian #1 phone #2 | no other phone … which clicked, turn sentence into clickable ellipses to hide/reveal}}, which is a {{cell|work|home - minus prior choice}} phone. The best way to contact me is {{phone|mail|e-mail}}.</div>

<ul class="pager">
  <li><%= link_to "Previous", page_path('student/03') %></li>
  <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
  <li><%= link_to "Next", page_path('guardian/guardian02'), :class => "pull-right" %></li>
</ul>

</div>
