<div class="madlib">

<div>{{Guardian #2 name}} and I {{live together | don’t live together}}. {{My|Our}} address is {{street}}, {{zip code}}.</div>

<div>{{Guardian #2 name}} lives at {{street}}, {{zip}}. {{Student name}} lives with {{Guardian #1 | Guardian #2 | Both of us}}.</div>

</div>

<ul class="pager">
  <li><%= link_to "Previous", page_path('guardian/guardian01') %></li>
  <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
  <li><%= link_to "Next", page_path('guardian/guardian03'), :class => "pull-right" %></li>
</ul>
