<div class="madlib">

<div class="instructions">Tell us more about you in this section.</div>  

<div>My name is <a href="#" id="guardianFirstName" data-type="text" data-pk="1" placement="top">George</a> <a href="#" id="guardianLastName" data-type="text" data-pk="1" placement="top">Harrison</a> and I am <a href="#" id="studentFirstName" data-type="text" data-pk="1" placement="top">Dhani</a>’s {{Relationship}}. I share custody of {{student name}} with {{someone’s name|no one else}}.  {{Guardian #2 name}} and I {{live together | don’t live together}}. {{My|Our}} address is {{street}}, {{zip code}}.</div>

<ul class="pager">
  <li><%= link_to "Previous", page_path('guardian/01') %></li>
  <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
  <li><%= link_to "Next", page_path('guardian/guardian03'), :class => "pull-right" %></li>
</ul>

</div>
