<div class="madlib">

<div>{{Guardian #2 name}}’s {{cell|work|home}} phone number is {{Guardian #2 phone, opt-out for SMS}}. This phone number changes {{monthly | annually | rarely}}. {{Guardian #2 name}}’s e-mail address is {{Guardian #2 email}}. Another phone number you can reach {{Guardian #2 name}} at is {{Guardian #2 phone #2 | no other phone … which clicked, turn sentence into clickable ellipses to hide/reveal}}, which is a {{cell|work|home - minus prior choice}} phone. The best way to contact {{Guardian #2 name}} is {{phone|mail|e-mail}}. I would like {{Guardian #2 name}} to be notified about {{notification options}}.</div>

<ul class="pager">
  <li><%= link_to "Previous", page_path('guardian/02') %></li>
  <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
  <li><%= link_to "Next", page_path('guardian/confirmation'), :class => "pull-right" %></li>
</ul>

</div>
