<div class="madlib">

  <div>My {{cell|work|home}} phone number is {{Guardian01 phone, opt-out for SMS}}. This phone number changes {{monthly | annually | rarely}}. Another phone number you can reach me at is {{Guardian01 phone2 | no other phone }}, which is a {{cell|work|home - minus prior choice}} phone.</div>

</div>

<ul class="pager">
  <li><%= link_to "Previous", page_path('guardian/guardian02') %></li>
  <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
  <li><%= link_to "Next", page_path('guardian/guardian04'), :class => "pull-right" %></li>
</ul>
