<div class="madlib">

  <div>My e-mail address is {{Guardian #1 email}}. </div>

  <div>The best way to contact me is {{phone|mail|e-mail}}.</div>

</div>

<ul class="pager">
  <li><%= link_to "Previous", page_path('guardian/guardian04') %></li>
  <li><%= link_to "Next", page_path('guardian/guardian05'), :class => "pull-right" %></li>
</ul>