<div class="madlib">

  <div>{{Guardian02 name}}’s {{cell|work|home}} phone number is {{Guardian #2 phone, opt-out for SMS}}. This phone number changes {{monthly | annually | rarely}}.</div>

  <div> Another phone number you can reach {{Guardian02 name}} at is {{Guardian #2 phone #2 | no other phone}}, which is a {{cell|work|home - minus prior choice}} phone.</div>

</div>

<ul class="pager">
  <li><%= link_to "Previous", page_path('guardian/guardian04') %></li>
  <li><%= link_to "Next", page_path('guardian/guardian06'), :class => "pull-right" %></li>
</ul>


