<div class="madlib">

  <div>{{Guardian02 name}}’s e-mail address is {{Guardian02 email}}.</div>

  <div>The best way to contact {{Guardian02 name}} is {{phone|mail|e-mail}}. I would like {{Guardian02 name}} to be notified about {{notification options}}.</div>

</div>

<ul class="pager">
  <li><%= link_to "Previous", page_path('guardian/guardian05') %></li>
  <li><%= link_to "Next", page_path('guardian/confirmation'), :class => "pull-right" %></li>
</ul>


