<div class="madlib">

Congrats! You've completed the first section of your child's enrollment. In the next section you will fill out information about yourself.
</div>

<ul class="pager">
  <li><%= link_to "Previous", page_path('student/student04') %></li>
  <li><%= link_to "Next", page_path('guardian/guardian01'), :class => "pull-right" %></li>
</ul>