<!-- This is the popover template  -->
<script type="html/text" id="editGuardianFirstName">
<div class="row-fluid">
    <center>
    <div class="span3 offset1">
    <button class="btn btn-small btn-danger" data-bind="click:$root.closePopover">Close</button>
</div>
  <form>
  <input class="input-small" data-bind="value: $data.guardianFirstName, valueUpdate: 'afterkeydown'" type="text" />
  </form>
</script >


