<!-- <div class="example-popovers">
    <div class="acenter">
        <button type="button" class="btn btn-default" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." title="Very long popover header for bootstrap popover that opens on left...">Popover on left</button>
    </div>
    <div class="acenter">
        <button type="button" class="btn btn-default" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." title="Popover on right">Popover on top</button>
    </div>
    <div class="acenter">
        <button type="button" class="btn btn-default" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." title="Popover on bottom">Popover on bottom</button>
    </div>
    <div class="acenter">
        <button type="button" class="btn btn-default" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." title="Popover on right">Popover on right</button>
    </div>
</div> -->

<div class="madlib" data-bind="foreach: guardians">
    <div>
        My name is <div class="student-info-container">
          <button type="button" class="btn btn-default" data-toggle="popover" data-placement="top" data-bind="popUp: {content: '#guardian_firstName-template', id: id}"> 
          <span data-bind="text: firstName" class="pseudo-tooltip"></span></a></div>

          <span class="namespace">&nbsp;</span>
          <a href="#" class="pseudo-tooltip" data-toggle="popover" data-bind="popUp: {content: '#guardian_lastName-template', id: id}"><span data-bind="text: lastName" class="pseudo-tooltip"></span></a> 
        </div>
           and I am enrolling Dhani Harrison in the Newport Public School System. He was born on August 10, 2010.
    </div>
        <div class="acenter">
        <button type="button" class="btn btn-default" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." title="First Name">Georgie</button>
    </div>
</div>
<script type="text/html" id="guardian_firstName-template" class="popover">
<div class="madlib-title">First Name <span class="pull-right">
      </div>
<div class="madlib-input"><input type="text" data-bind="value: firstName, valueUpdate:'afterkeydown'" /></div>
<br>
</script>

<script type="text/html" id="guardian_lastName-template">
<div class="madlib-title">Last name <span class="pull-right"></span>
      </div>
<div class="madlib-input"><input type="text" data-bind="value: lastName, valueUpdate:'afterkeydown'" /></div>
<br>
</script>



