<!-- This is the popover template  -->
<script type="html/text" id="editGuardianFirstName">
  <form>
  <input class="input-small" data-bind="value: $data.guardianFirstName, valueUpdate: 'afterkeydown'" type="text" />
  </form>
</script >

<script type="html/text" id="editGuardianLastName">
  <form>
  <input class="input-small" data-bind="value: $data.guardianLastName, valueUpdate: 'afterkeydown'" type="text" />
  </form>
</script >
