<div class="madlib">

<a href="#" id="studentFirstName" data-type="text" data-pk="1" placement="top">Dhani</a> was born on <a href="#" id="dob" data-type="date" data-pk="1" data-url="" data-title="Select date" placement="bottom">10/08/2010</a> in {{Birth location }} and emigrated to the United States on {{ emigration date }}. <a href="#" id="studentGender" data-type="select" data-pk="1" data-url="" data-title="Student gender"></a> {{ is /isn't }} of Hispanic or Latino descent and identifies as {{ race }}.
</div>

<div class="next_student">
  <%= button_to "Next", page_path('student/student03'), :method => "get", :class => "btn btn-success pull-right" %>
</div>