<div class="madlib">

<a href="#" id="studentFirstName" data-type="text" data-pk="1" placement="top">Dhani</a> is most comfortable speaking in {{ }}. <a href="#" id="studentGender" data-type="select" data-pk="1" data-url="" data-title="Student gender"></a> also speaks {{ language }}.
</div>

<div class="next_student">
  <%= button_to "Next", page_path('student/student04'), :method => "get", :class => "btn btn-success pull-right" %>
</div>