<div class="madlib">

<a href="#" id="studentFirstName" data-type="text" data-pk="1" placement="top">Dhani</a> currently lives at {{ street address }} in {{ city }}, RI {{ zip code }}. <a href="#" id="studentGender" data-type="select" data-pk="1" data-url="" data-title="Student gender"></a> {{ spends / does not spend }} time living here and another residence. <a href="#" id="studentFirstName" data-type="text" data-pk="1" placement="top">Dhani</a> also lives at {{ street address }} in {{ city }}, RI {{ zip code }}.
</div>

<ul class="pager">
  <li><%= link_to "Previous", page_path('student/student03') %></li>
  <li><%= link_to "Next", page_path('student/confirmation'), :class => "pull-right" %></li>
</ul>