<div class="madlib">

<a href="#" id="studentFirstName" data-type="text" data-pk="1" placement="top">Dhani</a> currently lives at {{ street address }} in {{ city }}, RI {{ zip code }}. <a href="#" id="studentGender" data-type="select" data-pk="1" data-url="" data-title="Student gender"></a> {{ spends / does not spend }} time living here and another residence. <a href="#" id="studentFirstName" data-type="text" data-pk="1" placement="top">Dhani</a> also lives at {{ street address }} in {{ city }}, RI {{ zip code }}.
</div>

<div class="next_student">
  <%= button_to "Next", page_path('student/confirmation'), :method => "get", :class => "btn btn-success pull-right" %>
</div>