<div class="madlib">

My name is <a href="#" id="guardianFirstName" data-type="text" data-pk="1" placement="top">George</a> <a href="#" id="guardianLastName" data-type="text" data-pk="1" placement="top">Harrison</a>
   and I am enrolling <a href="#" id="studentFirstName" data-type="text" data-pk="1" placement="top">Dhani</a> <a href="#" id="studentLastName" data-type="text" data-pk="1" placement="top">Harrison</a> in the <a href="#" id="schoolDistrict" data-type="select" data-pk="1" data-url="" data-title="Select status"></a> Public School System. <a href="#" id="studentGender" data-type="select" data-pk="1" data-url="" data-title="Student gender"></a> was born on August 10, 2010.
</div>