<body class="student-container">
  <div class="student-madlib">
    <div>
      My name is <a href="#" data-bind="tooltip: {title: 'Guardian First Name'}">George</a> Harrison and I am enrolling Dhani Harrison in the Newport Public School System. He was born on August 10, 2010.
    </div>
  </div>

<%= render 'shared/scenery' %>
<%= render 'shared/guidepost' %>

</body>