<div class="landing_page">

  <div class="video_container">
    <iframe src="//player.vimeo.com/video/96946723" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>

    <div class="intro_button">
      <%= button_to "Enter", :warwick_intro, :method => "get", :class => "btn btn-default btn-lg pull-right" %>
    </div>
  </div>

  <div class="intro_footer">
    <p>A project by Code for America in partnership with the State of Rhode Island | <a href="mailto:rhodeisland@codeforamerica.org">rhodeisland@codeforamerica.org</a> | <a href="http://github.com/codeforamerica/ticket-to-ride" target="_blank">Github</a></p>

  </div>
</div>