<div class="navigation">
    <section class="content">
      <div class="navigator">
        <ol>
          <li class="finished">Download
          <li class="current">Task
          <li class="unfinished">Upload
          <li class="unfinished">Questionnaire
        </ol>
      </div>
    </section>
</div>