<div class="welcome">
<p>Dear Parents and Guardians:</p>
<p>I would like to take this opportunity to welcome you and your child to the Newport Public Schools. We appreciate you selecting our school system for your child.</p>
<p>Kindergarten is a very exciting time in a family’s life. Your child’s educational experience into our school system is one of many steps in a collaborative relationship between you and the faculty and staff of the Newport Public Schools. No one should ever underestimate the influence and power a family has on the importance of a good quality education. You are the first role model and teacher for your child. Like anything else, the investment of time and support you devote during this year and the years to come will last a lifetime. That is why it is important for us to work together over the course of your child’s school years to ensure that your child can reach his or her maximum potential and become a successful, contributing member of our society, and make us a more vibrant and stronger community in the future.</p>
<p>We look forward to partnering with you and your child as we embark on this very special journey. We welcome your input. Please know our doors are always open.</p>
<p>Sincerely,</p>
<p>Colleen B. Jermain<br/>
Superintendent of Schools</p>
</div>

<div class="begin_enrollment">
	<button>Begin</button>
</div>