<div class="welcome">
  <h2>Welcome to the Newport Public Schools.</h2> 
  <p>Kindergarten is a very exciting time in a family’s life.</p>
  <p>You are the first role model and teacher for your child. It is important for us to work together during your child’s school years so that your child reaches his or her maximum potential and becomes a successful, contributing member of our community.</p>
  <p>We look forward to partnering with you and your child as we embark on this very special journey. We welcome your input. Please know our doors are always open.</p>
  <p>Sincerely,<br/>
  Colleen B. Jermain, Superintendent of Schools</p>
  </div>

  <div class="background">

  <%= render 'shared/scenery_welcome' %>

  </div>

    <div class="begin_enrollment">
    <%= button_to "Begin enrollment", '/start', :method => "get", :class => "btn btn-success pull-right" %>
  </div>


