<div class="welcome">
  <h2>No districts are setup</h2>
  <p>Please setup a district to get started by <%= link_to 'logging in to the admin controls.', '/admin'%></p>
  <p>This can be done by adding a person to the system.</p>
</div>

<%= render 'shared/scenery_welcome' %>