<div class="welcome">
  <h2>District is not setup with welcome messaging</h2>
  <p>Please setup the district by <%= link_to 'logging in to the admin controls.', '/admin'%></p>
  <p>This can be done by completing the <em>District Info</em> form.</p>
</div>

<%= render 'shared/scenery_welcome' %>