<div class="madlib">

<div class="instructions">Tell us about the people who can find you in case of an emergency.</div>  

<div>The name of someone who knows how to reach me during an emergency is <a href="#" id="guardian01_contact01FirstName" data-type="text" data-pk="1" placement="top">John</a> <a href="#" id="guardian01_contact01LastName" data-type="text" data-pk="1" placement="top">Lennon</a>.</div> 
<div>The best number to reach <a href="#" id="guardian01_contact01FirstName" data-type="text" data-pk="1" placement="top">John</a> is {{Guardian01_contact01 phone}}. <a href="#" id="guardian01_contact01FirstName" data-type="text" data-pk="1" placement="top">John</a>'s email address is {{guardian01_contact01 email}}</div>

</div>

<ul class="pager">
  <li><%= link_to "Previous", page_path('guardian/confirmation') %></li>
  <li><%= link_to "Next", page_path('contact/contact02'), :class => "pull-right nextbtn" %></li>
</ul>
