<div class="madlib">

<div>Another person who knows how to reach me if <a href="#" id="guardian01_contact01FirstName" data-type="text" data-pk="1" placement="top">John</a> is unavailable is <a href="#" id="guardian01_contact02FirstName" data-type="text" data-pk="1" placement="top">Yoko</a> <a href="#" id="guardian02_contact01LastName" data-type="text" data-pk="1" placement="top">Ono</a>.</div> 
<div>The best number to reach <a href="#" id="guardian01_contact02FirstName" data-type="text" data-pk="1" placement="top">Yoko</a> is {{Guardian01_contact02 phone}}. <a href="#" id="guardian01_contact02FirstName" data-type="text" data-pk="1" placement="top">Yoko</a>'s email address is {{guardian01_contact02 email}}</div>

</div>

<ul class="pager">
  <li><%= link_to "Previous", page_path('contact/contact01') %></li>
  <li><%= link_to "Next", page_path('contact/confirmation'), :class => "pull-right nextbtn" %></li>
</ul>
