<% if @student.errors || @guardian_2.errors %>
    <ul id="validation-errors">
      <% @student.errors.each do |field, message| %>
          <li>Oops! <%= message %>  <a href="#" class="toggle_error pull-right" data-dismiss="li">x</a> </li>
      <% end %>
      <% @guardian_2.errors.each do |field, message| %>
          <li>Oops! <%= message %> <a href="#" class="toggle_error pull-right" data-dismiss="li">x</a></li>
      <% end %>
    </ul>
<% end %>