  <div>Home address:<span><%= s.text_field :home_street_address_1, class: 'madlib-input', id: 'student_address1', placeholder: 'Number' %></span>
<span><%= s.text_field :home_street_address_2, class: 'madlib-input', id: 'student_address2', placeholder: 'Street' %></span></div>
    <div><%= s.text_field :home_city, class: 'madlib-input', id: 'student_home_city', placeholder: @student.home_city || 'City' %></span>, RI <span>
    <%= s.text_field :home_zip_code, class: 'madlib-input', id: 'student_home_zip', placeholder: 'Zip Code' %></span></div>