<div class="madlib">
  <div>
    Congrats!
    You've completed two out of three sections of your child's enrollment.
    In the next section you will fill out information about emergency contacts.
  </div>
</div>

<%= form_for(@student, url: wizard_path, method: :put) do |s| %>
    <ul class="pager">
      <li><%= link_to "Previous", :root %></li>
      <li><%= s.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>
<% end %>

<%= render 'shared/scenery_guardian' %>