<div class="container">
  <div class="col-md-8 row-break"><span class="filler-text">Out-of-State School</span></div>
  <div class="col-md-4">School Name:</div><div class="col-md-4"><%= text_field :first_name, class: 'enrollment-form-input', id: 'student_prior_school_non_ri', placeholder: 'Bay School' %></div>
  <div class="col-md-4">City:</div><div class="col-md-8"><%= text_field :middle_name, class: 'enrollment-form-input', id: 'student_prior_school_city_non_ri', placeholder: 'San Francisco' %></div>
</div>