/* @override http://localhost:3000/assets/admin_styles.css?body=1 */

/* @override http://localhost:3000/assets/admin_styles.css?body=1 */

/* @override http://localhost:3000/assets/admin_styles.css?body=1 */

/* @group bootstrap */



body{
	color: #555;
	font-family: "Noto sans", "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 18px;
	min-width: 24rem;
}

@media screen and (min-width: 48em){ html, body{ font-size: 20px; } }

a{
	color: #1f7ab8;
	text-decoration: none;
}

a:hover{
	color: #00b3e3;
}

p{
	line-height: 1.4em;
	margin-bottom: 1em;
	max-width: 30em;
}

strong{ font-weight: 600; }
ul li{ list-style-type: disc; }

div.site-width{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin: 0 auto;
	max-width: 48rem;
	padding: 0 0.7rem;
}

@media screen & (min-width: 24em){
	div.site-width{ padding: 0 1.4rem; }
}


div.site-width::after{
  content: "";
  display: table;
  clear: both;
}

/* @end */

/* @group header */

header#header{ 
	font-family: "Titillium Web", Trebuchet MS;
	font-size: 0.9em;
	margin-bottom: 1em;
	position: relative;
	color: #c1b6c2;
	background: #442b49;
	overflow: hidden;
	height: 2.4rem;
	line-height: 2.4rem;
}

header#header h1,
header#header nav,
header#header a{
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header#header nav.nav-primary{
	margin-left: -0.8em;
}

header#header nav.nav-secondary{
	float: right;
}

header#header a{
	padding: 0 0.8em;
}

header#header h1{
	font-weight: 700;	
	display: none;
}


body[class^="applications-"] header a.applications,
body[class^="district"] header a.district,
body[class^="supplemental-materials"] header a.supplemental-materials,
body[class^="people"] header a.people,
body[class="settings"] header a.settings{
	color: #fff !important;
	background: #2c1d30;
}

header#header a{
	color: inherit;
	white-space: nowrap;
}

header#header a:hover{color: #fff;}

/* @end */

/* @group main */

body main{
	margin-bottom: 2em;
}
body main header{
	margin-bottom: 1em;
	color: #333;
}

body main h1{
	display: inline-block;
	vertical-align: middle;
	width: auto;
	margin-right: 0.2rem;
	margin-bottom: 0.2em;
	color: #206180;
	font-family: "Titillium Web", Trebuchet MS;
	font-weight: 100;
	line-height: 1.2em;
	font-size: 2.1em;
}

body main header h1+.button-forward,
body main header h1+.button-action{
	vertical-align: middle;
	margin-top: 0.125em;
	margin-left: 0.4em;
}

body main h2{
	font-size: 1rem;
	font-weight: 700;
	color: #ac540b;
	margin-bottom: 0.6em;
}

body main h3{
	font-size: 0.9em;
	font-weight: 600;
	margin-bottom: 0.8em;
}

body main h2+h3{
	margin-top: 1em;
}

body main p{
	font-size: 0.9em;
}

main header > .custom-select,
main header > select,
main header > span{
	font-family: "Titillium Web", Trebuchet MS !important;
	font-size: 1.6rem;
	font-weight: 100;
	line-height: 1.33em;
	color: #333;
	margin-bottom: 1.2em;
}

@media screen & (min-width: 40em){
	body[class^=applications-index] main header h1,
	body[class^=people] main header h1,
	body[class^=schools] main header h1,
	body[class^=settings] main header h1{ 
			font-size: 2rem;
			font-weight: 100;
	}
	
	body[class^=applications-index] main header h1{
			font-size: 1.8rem;	
	}
}



/* @end */


/* @group footer */

footer a{ 
	color: #888; 
	font-size: 0.9rem;
	text-decoration: underline;
}


/* @end */


/* @group tables */

table{
	width: 100%;
	background: white;
	border-radius: 0.2rem;
	overflow: hidden;
	table-layout: fixed;
	font-size: 0.8rem;
	margin-bottom: 1.4em;
}

table thead,
table td{ border-bottom: 0.1em solid #eee; }

table.table-applications td.table-applications-col-poverty{
	width: 3.6em;
}

table thead td{
	color: #888;
}

table thead td span{ display: none; }
@media screen and (min-width: 24em){ table thead td span{ display: inline; } }

table td.table-applications-col-submitted{ display: none; }
table tr:last-of-type td{ border-bottom: none; }


table a,
table td{
	vertical-align: middle;
}

table a,
table thead td{
	padding: 0.5rem 0.4rem 0.5rem 0;
}

table tr td.table-applications-col-poverty,
table tr td.table-applications-col-poverty a{
	padding-right: 0 !important;
}


table a,
table a:hover{
	display: block;
	color: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
}

table .sort-desc a{ 
	padding-left: 1.2rem; 
	position: relative;
}

table .sort-desc a::after{
  position: absolute;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-width: 0.33rem;
  border-style: solid;
  content: "";
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  left: 0.4rem;
  margin-top: -0.12rem;
}

table .table-people-col-actions{
	width: 8rem;
}
table .table-people-col-actions a{ display: inline-block; }
table .table-people-col-actions a:hover{ text-decoration: underline; }
table.table-people tbody tr:hover,
table.table-applications tbody tr:hover{ background: #fff2c0; }


/* @end */

/* @group views */

/* @group export */

.export .field-select label{
	position: absolute;
	left: -9999em;
}

.export fieldset legend{
	font-size: 1em;
	font-weight: 700;
	color: #ac540b;
	margin-bottom: 0.4em;

}

.export fieldset .field{
	padding-bottom: 1.4em;
}

.export fieldset .field label{
	position: absolute;
	bottom: 0;
	margin: 0;
	font-size: 0.7rem;
	color: #888;
}


/* @end */

/* @group Setup */

.admin-setup{
	padding-top: 4em;
}

.admin-setup main{
	width: 20rem;
	margin: 0 auto;
	border: 0.2em solid #e3e3e3;
	padding: 1em;
	padding-bottom: 1.4em;
	border-radius: 0.5em;
}

.admin-setup .button-forward{
	margin-top: 1em;

}

/* @end */

/* @group application-process */

.application-process fieldset legend{
	font-weight: 600;
}

/* @end */

/* @group District info */

.district fieldset.fieldset.fieldset-letter{
	border: 0.1em solid #eee;
	padding: 2rem;
	padding-top: 1.4rem;
	margin-right: 14rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	margin-top: 1em;
}

.district fieldset.fieldset.fieldset-letter legend{ position: absolute; left: -9999em;}

.district fieldset.fieldset.fieldset-letter div.field{
	position: relative;
}

.district fieldset.fieldset.fieldset-letter div.field label{
	font-size: 0.8rem;
	font-weight: 600;
}

.district fieldset.fieldset.fieldset-letter div.field input,
.district fieldset.fieldset.fieldset-letter div.field textarea{
	margin: 0 !important;
	width: 100% !important;
	max-width: none;
	line-height: 1.4em;
}

.district fieldset.fieldset.fieldset-letter div.field textarea{
}

.district fieldset.fieldset.fieldset-letter div.field textarea{
	height: 10em;
}

.district fieldset.fieldset.fieldset-letter span{
	display: block;
	margin-bottom: 0.8em;
}

.district fieldset.fieldset.fieldset-letter div.field p{
	position: absolute;
	top: 1.4rem;
	left: 100%;
	width: 12rem;
	margin-left: 4rem;
	opacity: 0;
}

.district fieldset.fieldset.fieldset-letter div.field.field-letter-welcomer p,
.district fieldset.fieldset.fieldset-letter div.field.field-letter-welcomer-title p{
	margin-left: 18rem;
}

.district fieldset.fieldset.fieldset-letter div.field input:focus+p,
.district fieldset.fieldset.fieldset-letter div.field textarea:focus+p{
	opacity: 1;
}

.district fieldset.fieldset.fieldset-letter div.field.field-letter-welcomer,
.district fieldset.fieldset.fieldset-letter div.field.field-letter-welcomer-title{
	width: 13em;
}

.district fieldset.fieldset.fieldset-letter div.field.field-letter-welcomer-title{
	margin-bottom: 0;
}

#edit_district_1 textarea,
#edit_district_1 .field-zip{
	margin-bottom: 1em;
}



/* @end */

/* @group Delete, New */

.schools-delete,
.schools-new,
.applications-delete,
.supplemental-materials-delete,
.people-delete,
.people-new,
.people-edit{ background: #eee; }

.schools-delete main .site-width,
.schools-new main .site-width,
.applications-delete main .site-width,
.supplemental-materials-delete main .site-width,
.people-delete main .site-width,
.people-edit main .site-width,
.people-new main .site-width{ padding: 0; }

.schools-delete main,
.schools-new main,
.applications-delete main,
.supplemental-materials-delete main,
.people-new main,
.people-edit main,
.people-delete main{
	border-bottom: none;
	border: 0.2rem solid #ff514d;
	max-width: 24rem;
	padding: 0.7rem;
	margin: 0 auto;
	background: white;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


@media (min-width: 24rem){	
	.schools-delete main,
	.schools-new main,
	.applications-delete main,
	.supplemental-materials-delete main,
	.people-new main,
	.people-edit main,
	.people-delete main{
		padding: 1.4rem;
	}
}

.schools-new main h1,
.schools-delete main h1,
.applications-delete main h1,
.people-delete main h1{
	margin-bottom: 0;
}

.people-new main,
.people-edit main,
.schools-new main{
	border-color: #009253;
}

.supplemental-materials-delete main p{
	line-height: 1.5em;
	
}

@media (min-width: 24em){
	
	.schools-delete main,
	.schools-new main,
	.applications-delete main,
	.supplemental-materials-delete main,
	.people-new main,
	.people-delete main{
		padding: 1.4em;
		max-width: 28rem;
	}
}

.schools-new .field-small span.percentage{ color: #888;	}

.schools-delete main div.page div.site-width{
	border-top: none;
	-moz-border-radius: 0 0 0.2rem 0.2rem;
	border-radius: 0 0 0.2rem 0.2rem;
}

/* @end */

/* @group schools-index */

.school{
	border: 0.125em solid #e3e3e3;
	-moz-border-radius: 0.2rem;
	border-radius: 0.2rem;
	width: 48%;
	float: left;
		-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.7rem;
	line-height: 1.2rem;
	font-size: 0.8rem;
	margin-right: 0.7em;
	margin-bottom: 0.7em;
	position: relative;
	min-width: 21em;
	padding-right: 4em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.school:nth-child(2n){
	margin-right: 0;
}

.school .fn{
	font-weight: 600;
	margin-bottom: 0.2em;
	display: block;
}

.school .adr{
	margin-bottom: 0.2em;
}

.school span.classroom-count,
.school span.poverty-threshold{ font-size: 0.7rem; }

.school span.classroom-count::after{
	content: "";
	width: 0.4em;
	height: 0.4em;
	background: #555;
	display: inline-block;
	vertical-align: middle;
	-moz-border-radius: 100%;
	border-radius: 100%;
	margin: -0.3em 0.2em 0;	
}

.school a,
.school button{
	position: absolute;
	right: 0.7em;
	top: 0.7em;
}

.school button{
	top: 2rem;
	color: #fd5050;
	font-size: 0.8em;
	cursor: pointer;
}

.school button:hover{
	text-decoration: underline;
}

/* @end */

/* @group people-index */
	
.people table.table-people td{
	padding: 0.5em 0;
	
}
.people td.table-people-col-actions{ text-align: right; }
.people td.table-people-col-actions a,
.people td.table-people-col-actions form,
.people td.table-people-col-actions button{
	color: #1f7ab8;
	text-decoration: none;
	display: inline;
	padding: 0;

}

.people-index td.table-people-col-actions button{
	padding: 0;
	border: 0;
	height: auto;
	line-height: 1;
	display: inline;
	min-height: 0;
	background: none;	
}

.people td.table-people-col-actions a:hover,
.people td.table-people-col-actions button:hover{
	text-decoration: underline;
	cursor: pointer;
}

.people td.table-people-col-actions .delete{
	color: #ff4823;
	margin-left: 0.4rem;	
}

/* @end */

/* @group Applications index, Results */

.applications-index main,
.results main{
	padding: 0;
	margin-top: 0;
	margin-bottom: 2.1rem;
	overflow: hidden;
	border: none;
}

body[class^=applications] main header form,
body[class^=applications] main header form .field{
	display: inline-block;
	vertical-align: middle;
}

body[class^=applications] main header form label,
body[class^=applications] main header form button{
	position: absolute;
	left: -9999em;
	top: -9999em;
}

body[class^=applications] main header form .field-select select,
body[class^=applications] main header form .field-select span{
	width: 18rem;
	font-size: 1.1rem;
	font-family: inherit;
	font-weight: 600;
}

.applications-index main h1 span.school,
.results main h1 span.school{
	display: none;
}

.no-js.applications-index main form button,
.no-js.results main form button,
.no-js.settings main form footer{
	position: absolute;
	left: -999rem;
	top: -9999rem;
}

body[class^=applications] main header div.field-select{
	width: 100%;
	max-width: 100%;
	margin: 0;
	top: 0.1rem;
}

body[class^=settings] main .page legend,
body[class^=applications] main .page h1{
	font-size: 1.2em;
	font-family: "Titillium Web", Trebuchet MS;
	font-weight: 700;
	margin-bottom: 0.8em;
	color: #3f7e73;
}

nav.misc{
	font-size: 0.9em;
}



/* @end */

/* @group Application show, Application edit */

header.header-toolbar{
	line-height: 1.4em;
	font-weight: 600;
	color: #b5c6eb;
	background: #545da9;
	position: relative;
	margin-bottom: 1.4rem;
	margin-top: -1em;
}

header.header-toolbar h1{
	font-size: inherit;
	line-height: 2.4rem;
	color: white;
	margin: 0;
}

header.header-toolbar h1 a,
header.header-toolbar h1 a:visited{ color: inherit; }

.applications-show main .page section h1,
.applications-edit main .page section h1{
	font-size: inherit;
	margin-top: 1.4rem;
}

header.header-toolbar a.save,
header.header-toolbar a.edit,
header.header-toolbar a.process,
header.header-toolbar button,
header.header-toolbar input{
	position: absolute;
	left: auto;
	right: 0.5rem;
	top: 0;
	bottom: 0;
	padding: 0 1em;
	border: none;
	font-size: 0.9rem;
	font-weight: normal;
	-moz-border-radius: 0;
	border-radius: 0;
	cursor: pointer;
	line-height: 2.4rem;
	color: inherit;
	background: none;
}

header.header-toolbar a:hover,
header.header-toolbar button:hover,
header.header-toolbar input:hover{ color: white; }

header.header-toolbar button:active{
	color: #9daace;
	background: #162649;
}

header.header-toolbar a.edit{
	right: 5rem;
}

header.header-toolbar a.delete{
	right: 9em;	
}

dd span.none{
	color: #ccc;
}
dd ul li{ display: inline; list-style-type: none; }
dd ul li::after{ content: ", "; }
dd ul li:last-of-type::after{ content: ""; }

dd.tel span.badge span{
	text-transform: uppercase;
	font-size: 11px;
	float: right;
	color: #aaa;
}

dd.tel span.badge::after{
	speak: none;
	font-family: "icomoon";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 0.8rem;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "sms";
	margin-left: 0.4em;
	font-size: 0.9rem;
	margin-top: -0.2rem;
	display: inline-block;
	vertical-align: middle;
}



/* @end */

/* @group Sign in */

.sign-in header{
	text-align: center;
}

.sign-in h1{ 
	text-align: center; 
	margin-top: 2em;
	margin-bottom: 1em;
	font-family: "Titillium Web", Trebuchet MS;
	font-weight: 100;
	font-size: 2em;
}

@media screen and (min-width: 36em) { 
	#sign-in main{
		margin-top: 5rem;
		max-width: 14rem;
	}
}

.sign-in .page{
	padding: 1.4rem;
	border: 0.08em solid #ccc;
	-moz-border-radius: 0.2rem;
	border-radius: 0.2rem;
	width: 20em;
	margin: 0 auto;
}



/* @end */

/* @group Settings */

body[class^=settings] main .page legend{
	font-size: 1em;
	margin-bottom: 0.4em;
}

.settings fieldset{ margin-bottom: 2.4rem; }

.settings main table{
	table-layout: fixed;
	max-width: 32em;
	font-size: 0.8rem;
}

.settings main table td{ padding: 0.4rem 0;
}
.settings main table td.table-poverty-criteria-col-members{ width: 8em; }

.settings main table tbody td input{
	font-size: 0.8rem;
}

.settings main section::after{
  content: "";
  display: table;
  clear: both;
}

.settings .application-period fieldset{
	margin-bottom: 0.7em;
}

.settings .application-period fieldset legend{ display: none; }

.settings .reset{
	border-top: 0.1rem solid #eee;
	padding-top: 1rem;
	margin-top: 1.4rem;
	margin-bottom: 1.4rem;
		color: #fd5050;
		line-height: 1.33;
}

.settings .reset span{
	color: #888;
	font-style: italic;
	font-size: 0.7rem;
}


.settings .reset::before{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 0.8rem;
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "trash";
	float: left;
	margin-right: 0.4em;
	font-size: 0.9rem;
	margin-top: 0.2rem;
}


/* @end */

/* @end */

/* @group shared */

/* @group supplemental material */

.supplemental-material{
	font-size: 0.8em;
}

.field.field-checkbox.supplemental-material{
	float: none;
	max-width: 28em;
}

.field.field-checkbox.supplemental-material{
	position: relative;
}

.field.field-checkbox.supplemental-material::after{
	content: "";
	display: block;
	position: absolute;
	background: #eee;
	top: 0.08em;
	left: 0.08em;
	bottom: 0.08em;
	width: 2em;
	-moz-border-radius: 0.3em 0 0 0.3em;
	border-radius: 0.3em 0 0 0.3em;
}

.field.field-checkbox.supplemental-material label{
	padding-left: 3em;
}

.field.field-checkbox.supplemental-material a{
	position: absolute;
	left: 100%;
	margin-left: 1em;
	top: 0;
}

.field.field-checkbox.supplemental-material p{
	margin: 0;
}

article.supplemental-material h1,
.field.supplemental-material span{
	font: inherit;
	font-weight: 600;	
	color: inherit;
	margin-bottom: 0.4em;
	display: block;
}

.field.supplemental-material span{
	margin-bottom: 0.2em;
}

article.supplemental-material h1 a:after{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 0.8rem;
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: optimize-legibility;
	-moz-osx-font-smoothing: optimize-legibility;
	content: "newtab";
	margin-left: 0.2em;
	font-size: 0.75rem;
	margin-top: 0.2rem;
}

article.supplemental-material{
	padding-top: 0.8em;
	margin-bottom: 0.8em;
	border-top: 0.2em solid #f8f8f8;
	padding-right: 4em;
		-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 36em;
	position: relative;
}

article.supplemental-material:hover{
	border-top-color: #e3e3e3;
}
article.supplemental-material+h2{
	margin-top: 2em;
}

article.supplemental-material p{
	margin-bottom: 0;
	

}

article.supplemental-material a.edit,
article.supplemental-material a.delete,
article.supplemental-material span.badge{
	position: absolute;
	right: 0;
	top: 0.5em;
	color: grey;
  	font-weight: 600;
  	line-height: 1.8em;
  	padding: 0 0.4rem 0;
  	display: inline-block;
  	border-radius: 0.15rem;
  	text-decoration: none;
  	font-size: 0.7rem;
  	border: 0.125rem solid #eee;
}

.supplemental-materials span.badge::before,
.supplemental-materials span.mandated::before{
	text-decoration: none;
	content: "lock";
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 0.8rem;
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 0.4em;
}

.supplemental-materials span.mandated::before{
	margin-right: 0.2em;
	margin-left: 0.2em;
	color: #555;
}


article.supplemental-material:hover a.delete{ color: #ed2551; }
article.supplemental-material:hover a.edit{ color: #009253; }
article.supplemental-material:hover a.delete:hover{ border-color: #ed2551; }
article.supplemental-material:hover a.edit:hover{ border-color: #009253; }

article.supplemental-material a.edit{
	right: 5.2em;
}

/* @end */

/* @group boilerplate */

.boilerplate{
	background: #155755;
	color: white;
	padding: 0.7em 1em 1em;
	-moz-border-radius: 0.4em;
	border-radius: 0.4em;
}

.boilerplate h1{
	color: white;
}

.boilerplate p{ 
	font-size: 0.9em; 
	margin-bottom: 0;
}

.boilerplate code{
	background: #0c3840;
	display: block;
	padding: 0.6em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	font-family: monaco;
	font-size: 0.9em;
	margin-left: -0.2em;
	margin-top: 1em;
}

.boilerplate a{
	color: #ffedb0;
	border-color: #ffedb0;
	margin-top: 1em;
}



.boilerplate a:hover{
	color: #fff7d8;
	border-color: #fff7d8;
	background: none;
}


/* @end */

.is-optional{
	padding-left: 1em;
	border-left: 0.4em solid #eee;
}

.is-optional+span{
	background: #555;
	color: white;
	padding: 0.4em 0.6em;
	display: inline-block;
	font-size: 0.7em;
	font-weight: 600;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
	margin-bottom: 1.4em;
}

a.delete{ color: red; }
a.delete:hover{ color: #c2382c; }

.notice, #error_explanation {
	background: #ffeead;
	color: #4b2d06;
	line-height: 1.4rem;
	padding: 0.4em 1em 0.4em;
	font-size: 0.8em;
	-moz-border-radius: 0.2rem;
	border-radius: 0.2rem;
	margin: 0.7rem -0.08rem 1.4rem;
	border: 0.08em solid #ffd880;
	position: relative;
}

#error_explanation h2 {
    display: none;
}

.notice h1{
	color: #b2400c !important;
	font-size: 1em;
	font-weight: 600;
	margin-top: 0.2em;
	margin-bottom: 0.2em !important;
}

.notice ul, #error_explanation ul{
	margin-left: 1.4em;
}

.notice form{
	margin-bottom: 0.4em;
}

footer nav,
footer nav a{
	line-height: 1.7em;
	margin-right: 1em;

 }

footer nav ul{
	border-top: 0.2rem solid #eee;	
	padding-top: 1.4rem;
}

footer div.url{
	color: #888;
	padding: 0.6em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	margin-top: 1em;
	font-size: 0.9em;
	clear: both;
	border-top: 0.12em solid #eee;
}

footer div code{
	font-family: monaco;
	font-size: 0.9em;
}
footer nav ul li{
	margin-bottom: 0.7rem;
	list-style-type: none;
}

footer a.export,
footer a.import{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 1.4em;
	margin-bottom: 0.4em;
	font-size: 0.8rem;
}


footer nav a.export::before,
footer nav a.import::before{
	text-decoration: none;
	content: "excel";
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 0.8rem;
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1em;
}

/* @end */
