/* @override http://localhost:3000/assets/madlib.css?body=1 */



div.container header{
	position: absolute;
	left: -20px;
	top: 10px;
	height: 155px;
	width: 226px;
	
}

.madlib,
ul.pager{
  max-width: 960px;
  margin: 0 auto;
  font-size: 200%;
  line-height: 175%;
}

.madlib{
	margin-top: 3em;	
}

.madlib_para {
  margin-bottom: 3%;
}

.madlib div .row {
  margin-bottom: 1%;
}

.madlib div .col-lg-6 {
  margin-bottom: 1%;
}

.madlib a:hover {
  text-decoration: none;
}

.namespace {
  font-size: 1%;
}

.instructions {
  font-size: 67%;
  font-weight: 400; 
  color: #9e2626;
  line-height: 130%;
  margin-bottom: 2%;
}

.beatle-madlib{
  max-width: 960px;
  margin: 2% 30%;
  width: 62%;
  font-size: 150%;
  line-height: 175%;
  min-height: 273px;
}

.student-info-container{
  display: inline;
}

.pseudo-tooltip {
  color: #6aba5b;
  border-bottom: 3px dotted #6aba5b;
}

a.editable-click {
  color: #6aba5b;
  border-color: #6aba5b;
}

.input-small {
  max-width: 150px;
}

.madlib-title{
  font-size:50%;
}

.madlib-input{
  font-size:50%;
  max-height: 100px;
}

.popOverClass {
  max-height: 125px;
}

.pager {
	position: relative;
	z-index: 1;
	text-align: left;
	padding-top: 1em;
}

.pager li{
	float: left;
	line-height: 1.5;
}

.pager li:last-of-type{
	float: right;
}


.pager li > a,
.nav-button {
	display: block;
  background-color: #6aba5b;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  border: none;
  height: 2em;
  line-height: 1.4em;
  	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    min-width: 6em;

}

.pager li > a:hover,
.nav-button:hover {
  background-color: #549448;
}

#hidden-form-fields {
    display: none;
}


