.popover-title {
  margin: 2% 4% 0 !important; }

.popover-content {
  padding: 3px 8px !important; }

.datepicker .day {
  font-size: 70%; }

.datepicker .dow {
  font-size: 70%; }

.datepicker-switch {
  font-size: 70%; }

.datepicker .month {
  font-size: 70%; }
