<section class="section-hero section-plan-chooser-input v-center-container">
  <div class="previous-section-indicator"></div>

  <h3 class="sub-headline">Get your quote in just&nbsp;seconds</h3>
  <p>We need a little info to see if you qualify for financial discounts.</p>

  <div class="inner">
    

<div class="plan-input-form js-plan-chooser-input-view">
  <div>
    <span data-single-label="I am" data-multiple-label="We are">I am</span>
    <div class="js-marital-status-tooltip-trigger js-tooltip-trigger tooltip-trigger highlight"
      data-tooltipoptions='{"template":"tooltip-marital-status","triggertype":"click","tipclass":"plan-chooser-tooltip","template_data":{"marital_status":"single"}}'>
      <span class="js-marital-status-value" data-single-label="single" data-multiple-label="married">single</span>
    </div>
    <br class='hide-medium-up'>with
    <div class="js-child-count-tooltip-trigger js-tooltip-trigger tooltip-trigger highlight" data-tooltipoptions='{"template":"tooltip-child-count","triggertype":"click","tipclass":"plan-chooser-tooltip","template_data":{"child_under_count":0,"child_over_count":0}}'>
      <span class="js-child-count-value" data-zero-label="no">0</span>
      <span class="js-label" data-single-label="kid" data-multiple-label="kids">kids</span>
    </div>.
  </div>
  <div class="margin-top-1-2">
    <span data-single-label="I make<br class='hide-medium-up'>" data-multiple-label="We make<br class='hide-medium-up'>">I make<br class='hide-medium-up'></span>
    <div class="js-income-tooltip-trigger js-tooltip-trigger tooltip-trigger highlight"
         data-tooltipoptions='{"template":"tooltip-income","triggertype":"click","tipclass":"plan-chooser-tooltip","template_data":{"income":null}}'><span class="js-income-value">$50,000</span></div> per&nbsp;year.
  </div>
  <div class="margin-top-1-2">
    <span data-single-label="My ZIP code<br class='hide-medium-up'> is" data-multiple-label="Our ZIP code<br class='hide-medium-up'> is">My ZIP code<br class='hide-medium-up'> is</span>
    <div class="js-zipcode-tooltip-trigger js-tooltip-trigger tooltip-trigger highlight"
         data-tooltipoptions='{"template":"tooltip-zipcode","triggertype":"click","tipclass":"plan-chooser-tooltip","template_data":{"zip_code":null}}'><span class="js-zipcode-value">10012</span></div>.
  </div>
</div>

    <a href="javascript:;" class="js-submit js-get-quote-button button button-green get-quote-button" data-default-label="Get quote" data-processing-label="Getting your quote">
      Get quote
    </a>
  </div>
</section>